body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(172, 172, 168);
    background-image: url(pngtree-an-abstract-world-earth-on-a-digital-background-image_13150431.png);
}

nav {
    border-radius: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
}

nav img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.contact {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: white;
}

.contact-section {
    text-align: center;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:;
}

.contact-section p, 
.contact-section h2, 
.contact-section a {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;

    text-decoration: none;
}

.contact-section a {
    color: #007BFF;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-content .address {
    display: flex;
    align-items: center;
}

.footer-content .address i {
    margin-right: 10px;
    font-size: 20px;
}

.footer-content .social-media a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-content .social-media a:hover {
    color: #007BFF;
}
